
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Yüksekliği %100 yaparak sayfanın tamamını kapsar */
  width: 100%;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  background: url('bacgrond.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed; /* Sayfa kaydırıldığında arka plan sabit kalacak */
 

}

/* ---------------------------------------------------- */
/* login-register */
.login-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  color: #f3f3f3;
  margin: auto;
  margin-top: 110px;
}

  
  .login-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 93%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #111111;
    color: #fff;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .options a {
    font-size: 12px;
    color: #0066ff;
    text-decoration: none;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-link {
    color: #003a74;
    text-decoration: none;
  }
  
  .register-link:hover, .options a:hover {
    text-decoration: underline;
  }

/* ---------------------------------------------------- */
/* menü  */
#menu {
  height: 7vh;
  width:100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

 
 }
 a{
     text-decoration: none;
     color: rgb(252, 254, 255);
 }
 h2{
     cursor: pointer;
     transition: 0.8s;
     background-color: rgb(0, 0, 0);
     border-radius: 5px;
     width: 180px;
     height: 40px;
     text-align: center;
     font-size: 22px; 
 }
 
 a:hover{
     color: rgb(170, 170, 170);
 }
 h2:hover{
     color: rgb(78, 78, 78);
 
 }
 
 #search-bar{
     background-color: rgb(0, 0, 0);
     color: rgb(255, 255, 255);
     height: 20px;
     width: 250px;
     border-radius: 8px;
 }
 
 #menu-container{
     width: 100%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px,04fr));
     place-content: center;
     display: none;
     
 }

 /* ---------------------------------------------------- */
 /* Responsive Design */
@media (max-width: 768px) {
  #menu {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  h2 {
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: 5px 0;
  }

  a {
    font-size: 18px;
  }

  #search-bar {
    width: 200px;
  }

  #menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 480px) {
  #menu {
    justify-content: center;
  }

  h2 {
    font-size: 16px;
    padding: 5px;
  }
  a {
    font-size: 14px;
  }

  #search-bar {
    width: 150px;
    height: 30px;
    font-size: 14px;
  }

  #menu-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
 
/* ---------------------------------------------------- */
/* Grid  */
.grid {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(5, 1fr); /* 5 sütun düzeni */
  gap: 30px; /* Kartlar arası boşluk */
  justify-content: center; /* Ortalamayı sağlamak için */
  max-width: 1350px; /* Sayfanın ortalanması için maksimum genişlik */
  padding: 1px;
  margin-top: 50px;
  margin-bottom: 100px;

}

.movie-item {
  position: relative; /* Görsel üzerine içerik eklemek için */
  width: 100%; /* Grid hücresini tamamen doldurur */
  height: 400px; /* Sabit yükseklik */
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(81, 81, 81);


}

.movie-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Görsellerin boyutunu düzgün şekilde kırpar */
  border-radius: 5px;
  z-index: 1;

}

.movie-item h2, .movie-item p {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  z-index: 2;
  text-align: center;
  margin: 0;
}

.movie-item h2 {
  bottom: 50px; /* Görselin alt kısmında başlık */
  font-size: 16px;
  font-weight: bold;
}

.movie-item p {
  bottom: 20px; /* Görselin alt kısmında açıklama */
  font-size: 14px;
}

.movie-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)); /* Görsel üzerinde karartma efekti */
  z-index: 1;
  border-radius: 10px;
}

/* ---------------------------------------------------- */
/* Responsive tasarım: küçük ekranlar için düzenleme */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* Tablet görünümünde 3 sütun */
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Mobilde 2 sütun */
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; /* Küçük ekranlarda 1 sütun */
  }
}
  
/* ---------------------------------------------------- */
/* Detay ekranı */
#movie-details-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.movie-details {
  background-color: #070707;
  padding: 20px;
  max-width: 400px; /* Maksimum genişlik */
  margin: 20px;
  overflow-y: auto;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
}

.movie-details img {
  width: 100%; /* Görselin genişliğini %100 yapar */
  max-width: 500px; /* Görsellerin maksimum genişliği */
  height: 500px; /* Yüksekliği otomatik yapar */
  border-radius: 15px; /* Köşe yuvarlaması */
}

/* Kapama butonu */
#close-details {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0d00;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}

#close-details:hover {
  background-color: #a30b00;
}


/* Detay ekranının açılış kapanış animasyonu */
.fullscreen-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Açılış animasyonu */
.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

/* Kapanış animasyonu */
.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* ---------------------------------------------------- */
/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap; /* İçerik taşarsa bir sonraki satıra geçmesini sağlar */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer {
  background-color: #000000;
  padding: 20px 15px;
  text-align: center; /* Mobilde hizalama için merkezleme */
}
.col {
  width: 25%;
  padding: 10px 15px;
  box-sizing: border-box;
}
.col h4 {
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px; /* Başlık ile içerik arasına daha küçük boşluk */
  font-weight: 500;
  position: relative;
}

.col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.col ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.col ul li a:hover {
  color: #7b7b7b;
  padding-left: 8px;
}

/* Mobil uyumluluk düzenlemeleri */
@media (max-width: 767px) {
  .col {
    width: 50%; /* Daha küçük ekranlarda her satıra iki sütun */
  }
}

@media (max-width: 574px) {
  .col {
    width: 100%; /* Çok küçük ekranlarda her sütun tüm genişliği kaplar */
  }
  .footer {
    text-align: left; /* Küçük ekranlarda sol hizalı */
  }
}


/* ---------------------------------------------------- */
header {
    position: relative;
    width: 71%;
    height: 60%;
    margin: auto;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px -8px #000000;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparan siyah arka plan */
    border-radius: 5px; /* Köşeleri yuvarlama */    color: #ffffff;
  }

  header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('friends.jpg') no-repeat center center/cover;
    opacity: 0.9;
    z-index: -1;
  }

  header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000000);
    z-index: -1;
  }
/* ---------------------------------------------------- */

    .information{
    position:relative ;
    color: #ffffff;
    margin-top: 50px;
    padding-left: 50px;

  }

  .information h1{
    font-size: 100px;
    margin-bottom: 0px;
  }
  .information p{
    font-size: 15px;
    width: 355px;
    word-break: break-all;
    
  }
  .information.detail{
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  

  .detail p{
    font-size: 20px;
    margin-right: 10px;
   } 
   
/* ---------------------------------------------------- */
/* Responsive Design for Header and Information */
@media (max-width: 768px) {
  header {
    width: 90%;
    height: auto;
    margin-top: 20px;
  }

  .information {
    margin-top: 30px;
    padding-left: 20px;
  }

  .information h1 {
    font-size: 50px;
  }

  .information p {
    font-size: 12px;
    width: 100%;
  }

  .detail p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  header {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .information {
    margin-top: 20px;
    padding-left: 10px;
  }

  .information h1 {
    font-size: 30px;
  }
  .information p {
    font-size: 10px;
    width: 100%;
  }

  .detail p {
    font-size: 14px;
  }
}


.detay-buton{
  background-color: #fff;
  color: #000000;
  padding: 15px;
  border-radius: 15px;
}

/* ---------------------------------------------------- */

